:root, [data-bs-theme=light] {
	--bs-body-font-family: 'Axiforma Regular', sans-serif;
	--bs-heading-font-family: 'Axiforma Bold', sans-serif;
	--bs-body-font-size: 16px;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #49515B;
	--bs-body-color-rgb: 73, 81, 91;

	--bs-primary: #0066FF;
	--bs-secondary: #00D4A9;
	--bs-dark: #121212;
	--bs-light: #EAEAEA;
	--bs-info: #23BABF;
	--bs-warning: #FF8C42;
	--bs-danger: #DC143C;
	--bs-success: #47B16A;
	
	--bs-primary-rgb: 0, 102, 255;
	--bs-secondary-rgb: 0, 212, 169;
	--bs-dark-rgb: 18, 18, 18;
	--bs-light-rgb: 234, 234, 234;
	--bs-info-rgb: 35, 186, 191;
	--bs-warning-rgb: 255, 140, 66;
	--bs-danger-rgb: 220, 20, 60;
	--bs-success-rgb: 71, 177, 106;

	--bs-primary-bg-subtle: rgba(0, 102, 255, 0.10);
	--bs-secondary-bg-subtle: rgba(0, 212, 169, 0.10);
	--bs-info-bg-subtle: rgba(35, 186, 191, 0.10);
	--bs-warning-bg-subtle: rgba(255, 140, 66, 0.10);
	--bs-danger-bg-subtle: rgba(220, 20, 60, 0.10);
	--bs-success-bg-subtle: rgba(71, 177, 106, 0.10);

	--bs-border-color: #2D2D2D;
	--bs-border-color-translucent: rgba(45, 45, 45, 1);

	--bs-border-radius: 10px;
	--bs-border-radius-sm: 20px;
	--bs-border-radius-pill: 50px;

	--bs-transition: 300ms ease;
}

[data-bs-theme=dark] {
	--bs-body-color: #EAEAEA;
	--bs-body-color-rgb: 234, 234, 234;
	--bs-body-bg: #121212;
	--bs-body-bg-rgb: 18, 18, 18;

	--bs-primary: #0066FF;
	--bs-secondary: #00D4A9;
	--bs-dark: #1A1A1A;
	--bs-light: #EAEAEA;
	--bs-info: #23BABF;
	--bs-warning: #FF8C42;
	--bs-danger: #DC143C;
	--bs-success: #47B16A;

	--bs-primary-rgb: 0, 102, 255;
	--bs-secondary-rgb: 0, 212, 169;
	--bs-dark-rgb: 26, 26, 26;
	--bs-light-rgb: 234, 234, 234;
	--bs-info-rgb: 35, 186, 191;
	--bs-warning-rgb: 255, 140, 66;
	--bs-danger-rgb: 220, 20, 60;
	--bs-success-rgb: 71, 177, 106;

	--bs-primary-bg-subtle: rgba(0, 102, 255, 0.15);
	--bs-secondary-bg-subtle: rgba(0, 212, 169, 0.15);
	--bs-info-bg-subtle: rgba(35, 186, 191, 0.15);
	--bs-warning-bg-subtle: rgba(255, 140, 66, 0.15);
	--bs-danger-bg-subtle: rgba(220, 20, 60, 0.15);
	--bs-success-bg-subtle: rgba(71, 177, 106, 0.15);

	--bs-border-color: #2D2D2D;
	--bs-border-color-translucent: rgba(45, 45, 45, 1);

	--bs-card-bg: #1E1E1E;
	--bs-card-border-color: #2D2D2D;
	--bs-card-cap-bg: #1A1A1A;
	--bs-card-cap-color: #EAEAEA;
	--bs-card-title-color: #EAEAEA;
	--bs-card-subtitle-color: #EAEAEA;
	--bs-card-text-color: #EAEAEA;
}